<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
    <testsuites>
        <testsuite name="app">
            <directory suffix="Test.php">./app/Tests</directory>
        </testsuite>
        <testsuite name="domain">
            <directory suffix="Test.php">./domain/*/Tests</directory>
        </testsuite>
        <testsuite name="support">
            <directory suffix="Test.php">./support/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./domain</directory>
            <directory suffix=".php">./support</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="ci"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <env name="DB_DATABASE" value="mvm_testing"/>
        <env name="APP_KEY" value="base64:rEO2ClwcP4PbpBaVExppQ8f12A7a63RR72aJf12uxjs=" />
        <env name="JWT_SECRET" value="zTP4jTKHWtWWDrgiOIs7gBBIWU03PITi"/>
    </php>
</phpunit>
